/* home page styling */

.header {
    background-color: var(--red2);
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: inset 0px -3px 20px  black; */
    .clz-logo {
    width: 440px;
    height: 325px;
  }
  }
  

  .header2 {
    background-color: var(--red2);
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: inset 0px -3px 20px  black; */
    .clz-logo {
      width: 350px;
      height: 230px;
    }
}

@media screen and (max-width: 1200px) {
  .header{
    height: 250px;

    .clz-logo {
      width: 230px;
      height: 180px;
    }
  }
  .header2{
    height: 250px;

    .clz-logo {
      width: 230px;
      height: 180px;
    }
  }
}

@media screen and (max-width: 450px) {
  .header{
    height: 150px;

    .clz-logo {
      width: 120px;
      height: 100px;
    }
  }
  .header2{
    height: 150px;

    .clz-logo {
      width: 120px;
      height: 100px;
    }
  }
}
