
/* zone section styling */

.zone-sect {
  height: 90vh;
  width: 100vw;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 15px black; 
  position: relative;
  .sect-words {
    max-width: 600px;
    height: 45%;
    margin: 0 auto;
    // display: flex;
    // grid-template-columns: repeat(1, auto);
    align-items: center; 
    justify-content: space-evenly;
    position: relative;
    // background-color: red;

    .sect-title {
      font-size: 64px;
      font-family: Mundo-Reg;
      color: white;
      // background-color: blueviolet;
      padding-bottom: 20px;
    }
    .blurb {
      font-size: 18px;
      font-family: Mundo-Reg;
      color: white;
      width: 520px;
      // background-color: green;
      padding-bottom: 40px;
    }
    a {
      width: 260px;
      font-family: Mundo-Reg;
      text-decoration: none;

      .more-button {
        width: 260px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 3px solid white;
        border-radius: 16px;
        font-size: 43px;
        font-family: Mundo-Reg;
        color: white;
        transition: 0.3s ease;
      }
      .more-button:hover{
        background-color: white;
        color: var(--blue);
      }
    }

    .back-btn {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 3px solid white;
      border-radius: 16px;
      font-size: 40px;
      font-family: Mundo-Reg; 
      color: white;
      margin-top: -50px;
      margin-bottom: 50px;
      transition: 0.3s ease;
    }
    .back-btn:hover{
      background-color: white;
      color: var(--blue);
    }
  }

  .sect-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .png-img {
    width: 425px;
    height: 425px;
    animation: move 1.5s infinite ease-in-out alternate;
  }
  }
  
}
 

/* tv section styling */

.tv-sect {
  height: 90vh;
  width: 100vw;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 15px black;
  position: relative;
  font-family: Mundo-Reg;
  text-align: right;

  .sect-words {
    max-width: 600px;
    height: 45%;
    margin: 0 auto;
    // display: flex;
    // grid-template-columns: repeat(1, auto);
    align-items: center; 
    justify-content: space-evenly;
    position: relative;
    // background-color: red;

    .sect-title {
      font-size: 64px;
      font-family: Mundo-Reg;
      color: white;
      // background-color: blueviolet;
      padding-bottom: 20px;
    }
    .blurb {
      font-size: 18px;
      font-family: Mundo-Reg;
      color: white;
      width: 520px;
      // background-color: green;
      padding-bottom: 40px;
    }
    a {
      width: 260px;
      font-family: Mundo-Reg;
      text-decoration: none;

      .more-button2 {
        width: 260px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        border: 3px solid white;
        border-radius: 16px;
        font-size: 43px;
        font-family: Mundo-Reg;
        color: white;
        transition: 0.3s ease;
      }
  
      .more-button2:hover{
        background-color: white;
        color: var(--purple);
      }
    }

    .back-btn {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 3px solid white;
      border-radius: 16px;
      font-size: 40px;
      font-family: Mundo-Reg; 
      color: white;
      margin-top: -50px;
      margin-bottom: 50px;
      transition: 0.3s ease;
    }
    .back-btn:hover{
      background-color: white;
      color: var(--purple);
    }
  }

  .sect-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .png-img {
    width: 425px;
    height: 425px;
    animation: move 1.5s infinite ease-in-out alternate;
  }
  }

}

/* craft section styling */

.crafts-sect {
  height: 90vh;
  width: 100vw;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 15px black;
  position: relative;
  .sect-words {
    max-width: 600px;
    height: 45%;
    margin: 0 auto;
    // display: flex;
    // grid-template-columns: repeat(1, auto);
    align-items: center; 
    justify-content: space-evenly;
    position: relative;
    // background-color: red;

    .sect-title {
      font-size: 64px;
      font-family: Mundo-Reg;
      color: white;
      // background-color: blueviolet;
      padding-bottom: 20px;
    }
    .blurb {
      font-size: 18px;
      font-family: Mundo-Reg;
      color: white;
      width: 520px;
      // background-color: green;
      padding-bottom: 40px;
    }
    a {
      width: 260px;
      font-family: Mundo-Reg;
      text-decoration: none;

      .more-button {
        width: 260px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 3px solid white;
        border-radius: 16px;
        font-size: 43px;
        font-family: Mundo-Reg;
        color: white;
        transition: 0.3s ease;
      }
      .more-button:hover{
        background-color: white;
        color: var(--green);
      }
    }

    .back-btn {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 3px solid white;
      border-radius: 16px;
      font-size: 40px;
      font-family: Mundo-Reg; 
      color: white;
      margin-top: -50px;
      margin-bottom: 50px;
      transition: 0.3s ease;
    }
    .back-btn:hover{
      background-color: white;
      color: var(--green);
    }
  }

  .sect-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .png-img {
    width: 425px;
    height: 425px;
    animation: move 1.5s infinite ease-in-out alternate;
  }
  }
}

/* stem section styling */

.stem-sect {
  height: 90vh;
  width: 100vw;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 15px black;
  position: relative;
  text-align: right;

  .sect-words {
    max-width: 600px;
    height: 45%;
    margin: 0 auto;
    // display: flex;
    // grid-template-columns: repeat(1, auto);
    align-items: center; 
    justify-content: space-evenly;
    position: relative;
    // background-color: red;

    .sect-title {
      font-size: 64px;
      font-family: Mundo-Reg;
      color: black;
      // background-color: blueviolet;
      padding-bottom: 20px;
    }
    .blurb {
      font-size: 18px;
      font-family: Mundo-Reg;
      color: black;
      width: 520px;
      // background-color: green;
      padding-bottom: 40px;
    }
    a {
      width: 260px;
      font-family: Mundo-Reg;
      text-decoration: none;

      .more-button2 {
        width: 260px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        border: 3px solid black;
        border-radius: 16px;
        font-size: 43px;
        font-family: Mundo-Reg;
        color: black;
        transition: 0.3s ease;
      }
  
      .more-button2:hover{
        background-color: black;
        border: none;
        color: var(--yellow);
      }
    }

    .back-btn {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 3px solid black;
      border-radius: 16px;
      font-size: 40px;
      font-family: Mundo-Reg; 
      color: black;
      margin-top: -50px;
      margin-bottom: 50px;
      transition: 0.3s ease;
    }
    .back-btn:hover{
      background-color: black;
      color: var(--yellow);
    }
  }

  .sect-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .png-img {
    width: 425px;
    height: 425px;
    animation: move 1.5s infinite ease-in-out alternate;
  }
  }

  
}


/* video games section styling */

.videogames-sect {
  height: 90vh;
  width: 100vw;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 15px black;
  position: relative;

  .sect-words {
    max-width: 600px;
    height: 45%;
    margin: 0 auto;
    // display: flex;
    // grid-template-columns: repeat(1, auto);
    align-items: center; 
    justify-content: space-evenly;
    position: relative;
    // background-color: red;

    .sect-title {
      font-size: 64px;
      font-family: Mundo-Reg;
      color: white;
      // background-color: blueviolet;
      padding-bottom: 20px;
    }
    .blurb {
      font-size: 18px;
      font-family: Mundo-Reg;
      color: white;
      width: 520px;
      // background-color: green;
      padding-bottom: 40px;
    }
    a {
      width: 260px;
      font-family: Mundo-Reg;
      text-decoration: none;

      .more-button {
        width: 260px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 3px solid white;
        border-radius: 16px;
        font-size: 43px;
        font-family: Mundo-Reg;
        color: white;
        transition: 0.3s ease;
      }
      .more-button:hover{
        background-color: white;
        color: var(--red);
      }
    }
    .back-btn {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 3px solid white;
      border-radius: 16px;
      font-size: 40px;
      font-family: Mundo-Reg; 
      color: white;
      margin-top: -50px;
      margin-bottom: 50px;
      transition: 0.3s ease;
    }
    .back-btn:hover{
      background-color: white;
      color: var(--red);
    }
  }

  .sect-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .png-img {
    width: 425px;
    height: 425px;
    animation: move 1.5s infinite ease-in-out alternate;
  }
  }
}

/* learnmore section styling */

.learnmore-sect {
  height: 90vh;
  width: 100vw;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 15px black;
  position: relative;
  text-align: right;

  .sect-words {
    max-width: 600px;
    height: 45%;
    margin: 0 auto;
    // display: flex;
    // grid-template-columns: repeat(1, auto);
    align-items: center; 
    justify-content: space-evenly;
    position: relative;
    // background-color: red;

    .sect-title {
      font-size: 64px;
      font-family: Mundo-Reg;
      color: white;
      // background-color: blueviolet;
      padding-bottom: 20px;
    }
    .blurb {
      font-size: 18px;
      font-family: Mundo-Reg;
      color: white;
      width: 520px;
      // background-color: green;
      padding-bottom: 40px;
    }
    a {
      width: 260px;
      font-family: Mundo-Reg;
      text-decoration: none;

      .more-button2 {
        width: 260px;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        border: 3px solid white;
        border-radius: 16px;
        font-size: 43px;
        font-family: Mundo-Reg;
        color: white;
        transition: 0.3s ease;
      }
  
      .more-button2:hover{
        background-color: white;
        color: var(--orange);
      }
    }
    .back-btn {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 3px solid white;
      border-radius: 16px;
      font-size: 40px;
      font-family: Mundo-Reg; 
      color: white;
      margin-top: -50px;
      margin-bottom: 50px;
      transition: 0.3s ease;
    }
    .back-btn:hover{
      background-color: white;
      color: var(--orange);
    }
  }

  .sect-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .png-img {
    width: 425px;
    height: 425px;
    animation: move 1.5s infinite ease-in-out alternate;
  }
  }


}
// this is the animation
@keyframes move {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-25px);
  }
}

@media screen and (max-width: 1200px) {

  .zone-sect, .crafts-sect, .videogames-sect {
    // background-color: green;
    flex-direction: column;
    height: 770px;
    justify-content: center;
    .sect-words{
      // background-color: red;
      min-width: 100%;
      padding: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 360px;

      .sect-title{
        font-size: 64px;
        margin: 0 auto;
  
      }
      .blurb{
        font-size: 24px;
        margin: 0 auto;
        // background-color: gray;
        width: 90%;
  
      }
      a{
        .more-button{
          margin: 0 auto;
        }
      }
      .back-btn{
        height: 60px;
        border-radius: 10px;
        width: 100px;
        margin-left: 15px;
      }
    }
    .sect-img {
      height: 300px;
      width: 310px;
      .png-img{
        height: 300px;
        width: 310px;
      }
    }
  }
  .tv-sect, .stem-sect, .learnmore-sect {
    // background-color: green;
    flex-direction: column;
    height: 770px;
    justify-content: center;
    position: relative;
    .sect-img {
      height: 300px;
      width: 310px;
      position: absolute;
      bottom: 50px;
      .png-img{
        height: 300px;
      width: 310px;
      }
    }
    .sect-words{
      // background-color: pink;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 360px;
      position: absolute;
      top: 50px;
      min-width: 100%;

      .sect-title{
        font-size: 64px;
        margin: 0 auto;
  
      }
      .blurb{
        font-size: 24px;
        width: 90%;
        margin: 0 auto;
  
      }
      a{
        .more-button2{
          margin: 0 auto;
          position: relative;
        }
      }
      .back-btn{
        margin-top: 0;
        margin-bottom: 10px;
        height: 60px;
        border-radius: 10px;
        width: 100px;
        margin-left: 15px;
      }
    }
    
  }
}


@media screen and (max-width: 780px) {
  
}

@media screen and (max-width: 450px) {
  .zone-sect, .crafts-sect, .videogames-sect {
    // background-color: green;
    flex-direction: column;
    height: 520px;
    justify-content: space-between;
    .sect-words{
      // background-color: red;
      margin-top: 20px;
      min-width: 100%;
      padding: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 260px;

      .sect-title{
        font-size: 36px;
        margin: 0 auto;
  
      }
      .blurb{
        font-size: 12px;
        margin: 0 auto;
        // background-color: gray;
        padding-bottom: 20px;
        width: 90%;
  
      }
      a{
        .more-button{
          margin: 0 auto;
          height: 60px;
          font-size: 24px;
          border-radius: 10px;
        }
      }
      .back-btn{
        margin-top: 0;
        margin-bottom: 10px;
        height: 60px;
        border-radius: 10px;
        width: 100px;
      }
    }
    .sect-img {
      height: 200px;
      width: 210px;
      margin-bottom: 40px;
      .png-img{
        height: 240px;
        width: 250px;
      }
    }
  }
  .tv-sect, .stem-sect, .learnmore-sect {
    // background-color: green;
    flex-direction: column;
    height: 520px;
    justify-content: space-between;
    position: relative;
    .sect-img {
      height: 240px;
        width: 250px;
      position: absolute;
      bottom: 20px;
      .png-img{
        height: 240px;
        width: 250px;
      }
    }
    .sect-words{
      // background-color: pink;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 360px;
      position: absolute;
      top: 25px;
      min-width: 100%;

      .sect-title{
        font-size: 36px;
        margin: 0 auto;
  
      }
      .blurb{
        font-size: 12px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
  
      }
      a{
        .more-button2{
          margin: 0 auto;
          height: 60px;
          font-size: 24px;
          border-radius: 10px;
        }
      }
      .back-btn{
        margin-top: 0;
        margin-bottom: 10px;
        height: 60px;
        border-radius: 10px;
        width: 100px;
        margin-left: 15px;
      }
    }
    
  }
  
}
