:root {
    --blue: #2479ec;
    --blue2: #2167c6;
    --white: #ffffff;
    --black: #222222;
    --red: #c3062f;
    --red2: #fa0036;
    --purple: #6f008b;
    --purple2: #8e04b0;
    --green: #66ac44;
    --green2: #579639;
    --green3: #4baf00;
    --yellow: #fff001;
    --yellow2: #e1d615;
    --orange: #ffb300;
    --orange2: #e7a200;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }