// stem section with robots and projects
// .stem2 {
//     height: 30vh;
//     width: 100vw;
//     box-shadow: 0px 0px 15px black;
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     .contact-box{
//         width: 50%;
//         height: 100%;
//         background-color: var(--yellow2);  
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         box-shadow: 0px 2px 8px black; 
//         transition: 0.3s ease;
        
//         .word-cont{ 
//             display: grid;
//             grid-template-columns: repeat(auto,1);
//             align-items: center;
//             justify-content: space-evenly;
            
//             .title{
//                 color: white;
//             font-size: 53px;
//             font-family: Mundo-Reg;
//             display: flex;
//             align-items: center;
//             justify-content: space-evenly;
//             text-align: center;
            
//             }
//             .info{
//                 color: white;
//                 font-size: 30px;
//                 font-family: Mundo-Reg;
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-evenly;
                
//             }
//         }
//     }
//     .contact-box:hover{
//         background-color: var(--yellow);
//         cursor: pointer;
//     }
// }
.print-sect {
    width: 100%;
    height: 600px;
    background-color: white;
    box-shadow: 0px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .printcontent{
        width: 80%;
        height: 300px;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .printleft{
            // background-color: blue;
            padding: 15px;
            width: 600px;
            height: 100%;
            h1{
                color:var(--yellow2);
                font-size: 50px;
                font-family: Mundo-Reg;
            }
            p{
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .printright{
            // background-color: yellow;
            width: 420px;
            height: 100%;

            .printimg{
                width: 300px;
                height: 280px;
                background-image: url(../css/img/printer.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
            }
        }
    }
}
.robot-sect {
    width: 100%;
    height: 650px;
    background-color: var(--yellow2);
    box-shadow: 0px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .robotcontent{
        width: 80%;
        height: 450px;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .robotleft{
            // background-color: blue;
            padding: 15px;
            width: 600px;
            height: 100%;
            h1{
                color:white;
                font-size: 50px;
                font-family: Mundo-Reg;
            }
            p{
                color:white;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .robotright{
            // background-color: yellow;
            width: 420px;
            height: 100%;

            .robotimg{
                width: 128px;
                height: 350px;
                background-image: url(../css/img/roro.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
            }
            .robotbutton{
                width: 300px;
                height: 80px;
                background-color: white;
                margin: 10px auto;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                color: var(--yellow2);
                font-size: 24px;
                font-family: Mundo-Reg;
                padding: 20px;
                // box-shadow: 0px 2px 8px black; 
                border-radius: 10px;
                
            }
        }
    }
}
.sproject-sect {
    width: 100%;
    height: 400px;
    background-color: var(--yellow2);
    box-shadow: 0px 2px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .sprojectcontent{
        width: 80%;
        min-height: 150px;
        
        h1{ 
            color:white;
            font-size: 50px;
            font-family: Mundo-Reg;
        }
        p{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        h2{
            color:white;
            font-size: 24px;
            font-family: Mundo-Reg;
        }
    }
}
.video.stem {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1,auto); 
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    background-color: white;
// changing the title of the video section to work for the stem page
.video-title.stem {
    color: var(--yellow2);
    font-size: 63px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Mundo-Reg;
    
} 
// changing the media player to work with the stem page
.mediaplayer.stem {
    width: 825px;
    height: 400px;
    background-color: var(--yellow2);

}
}

@media screen and (max-width: 1200px) {
    
      
}
@media screen and (max-width: 1000px){
    // .stem2 {
    //     height: 35vh;
    //     width: 100vw;
    //     box-shadow: 0px 0px 15px black;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-evenly;
    //     .contact-box{
    //         width: 50%;
    //         height: 100%;
    //         background-color: var(--yellow2);  
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-evenly;
    //         box-shadow: 0px 2px 8px black; 
            
    //         .word-cont{ 
                
                
    //             .title{
    //             font-size: 48px; 
    //             }
    //             .info{
    //                 font-size: 25px;
    //             }
    //         }
    //     }
    // }
    .print-sect {     
        height: 700px;   
        .printcontent{
            flex-direction: column;
            // background-color: magenta;
            height: 500px;
            .printleft{
                width: 450px;
            }
        }
    }
    .robot-sect {     
        height: 900px;   
        .robotcontent{
            flex-direction: column;
            // background-color: magenta;
            height: 700px;
            .robotleft{
                width: 450px;
                // background-color: firebrick;
                h1{
                    font-size: 45px;
                }
            }
        }
    }
    .sproject-sect {
        width: 100%;
        min-height: 400px;
        
        .sprojectcontent{
            width: 450px;
            padding: 15px;
            min-height: 300px;
        }
    }
    .video.stem {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
        .video-title.stem{
   
            font-size: 55px; 
            // width: 425px;
            font-family: Mundo-Reg;
            text-align: center;
            padding-bottom: 45px;
        }

        .mediaplayer.stem {
            width: 625px;
            height: 320px;
        }
    }
 }

@media screen and (max-width: 780px) {
    // .stem2 {
    //     height: 70vh;
    //     width: 100vw;
    //     box-shadow: 0px 0px 15px black;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-evenly;
    //     .contact-box{
    //         width: 100%;
    //         height: 50%;
    //         background-color: var(--yellow2);  
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-evenly;
    //         box-shadow: 0px 2px 8px black; 
            
    //         .word-cont{ 
                
                
    //             .title{
    //             font-size: 48px; 
    //             }
    //             .info{
    //                 font-size: 25px;
    //             }
    //         }
    //     }
    // }
    .video.stem {
        display: flex;
        flex-direction: column;
        height: 75vh;
        .video-title.stem {
            font-size: 55px; 
            width: 425px;
            font-family: Mundo-Reg;
            text-align: center;
            padding-bottom: 45px;
        }

        .mediaplayer.stem {
            width: 525px;
            height: 300px;  
        }
    }
}

@media screen and (max-width: 560px) {

    // .stem2 {
    //     height: 54vh;
    //     width: 100vw;
    //     box-shadow: 0px 0px 15px black;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-evenly;
    //     .contact-box{
    //         width: 100%;
    //         height: 50%;
    //         background-color: var(--yellow2);  
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-evenly;
    //         box-shadow: 0px 2px 8px black; 
            
    //         .word-cont{ 
                
                
    //             .title{
    //             font-size: 48px; 
    //             }
    //             .info{
    //                 font-size: 25px;
    //             }
    //         }
    //     }
    // }
    .print-sect {
        height: 600px;
        .printcontent{
            // background-color: red;
            width: 300px;
            height: 420px;
            .printleft{
                width: 100%;
                padding: 15px 5px 5px 5px;
                // background-color: rebeccapurple;
                h1{
                    font-size: 35px;
                }
                p{
                    font-size: 14px;
                }
            }
            .printright{
                // background-color: yellow;
                width: 100%;
                height: 100%;
    
                .printimg{
                    width: 235px;
                    height: 220px;
                }
            }
        }
    }
    .robot-sect {
        height: 800px;
        .robotcontent{
            // background-color: red;
            width: 300px;
            height: 600px;
            .robotleft{
                width: 100%;
                padding: 0;
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 14px;
                }
            }
            .robotright{
                // background-color: yellow;
                width: 100%;
                height: 100%;
    
                .robotimg{
                    width: 90px;
                    height: 250px;
                }
            }
        }
    }
    .sproject-sect {
        width: 100%;
        min-height: 400px;        
        .sprojectcontent{
            width: 300px;
            min-height: 250px;
            // background-color: red;
            
            h1{
                font-size: 35px;
            }
            p{
                font-size: 14px;
            }
    
            h2{
                font-size: 20px;
            }
        }
    }
    .video.stem {
        display: flex;
        flex-direction: column;
        height: 55vh;
   
        .video-title.stem {
            font-size: 40px;
            width: 325px;
            font-family: Mundo-Reg;
            text-align: center;
            padding-bottom: 5px;
        }

        .mediaplayer.stem{
            width: 325px;
            height: 200px;
        }
    }
}
