.whitesectioninfo{
    width: 100%;
    min-height: 550px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .infoholder{
        width: 80%;  
        h1{ 
            font-size: 50px;
            font-family: Mundo-Reg;
            color: var(--orange2);
        }
        p{
            font-size: 20px;
            font-family: Mundo-Reg;
            color: var(--orange2);
        }
    }
}

.orangesectioninfo{
    width: 100%;
    min-height: 550px;
    padding: 5px;
    background-color: var(--orange2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .infoholder{
        width: 80%;
        text-align: right;
        h1{
            font-size: 50px;
            font-family: Mundo-Reg;
            color: white;
        }
        p{
            font-size: 20px;
            font-family: Mundo-Reg;
            color: white;
        }
    }
}

  @media screen and (max-width: 780px) {
    .whitesectioninfo{
        width: 100%;
        min-height: 650px;
        
        .infoholder{
            width: 90%;
            margin: 50px;
            h1{
                font-size: 50px;
            }
            p{
                font-size: 24px;
            }
        }
    }
    
    .orangesectioninfo{
        width: 100%;
        min-height: 650px;
        
        .infoholder{
            width: 90%;
            margin: 50px;
            text-align: right;
            h1{
                font-size: 50px;
            }
            p{
                font-size: 24px;
            }
        }
    }

  }
  
  @media screen and (max-width: 500px) {

    .whitesectioninfo{
        width: 100%;
        min-height: 600px;
        
        .infoholder{
            width: 90%;
             margin: 20px;
            // background-color: red;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    
    .orangesectioninfo{
        width: 100%;
        min-height: 600px;
        
        .infoholder{
            width: 90%;
            margin: 20px;
            text-align: right;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 18px;
            }
        }
    }
  }
