// tour section that shows the hours
.tour1{
    height: 40vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1,auto);
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    .t1-header{
        color: var(--blue);
        font-size: 53px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 25px;
        font-family: Mundo-Reg;
        margin-top: -10px;
    }
    .t1-subhead{
        color: var(--blue);
        font-size: 28px;
        margin-top: -25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-weight: bold;
        font-family: Mundo-Reg;
    }
    .t1-outp{
        color: var(--blue);
        font-size: 24px;
        margin-top: -30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Mundo-Reg;
    }
    .t1-inp{
        color: var(--blue);
        font-size: 24px;
        margin-top: -45px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Mundo-Reg;
    }
}
// tour section for contacting people
.tour2 {
    height: 35vh;
    width: 100vw;
    box-shadow: 0px 0px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .nurse {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 0px 15px black;
        background-color: var(--blue);
        transition: 0.3s ease;
        
        .t2-head{
            color: white;
            font-size: 53px;
            font-family: Mundo-Reg;
        }
    } 
    .nurse:hover{
        background-color: var(--blue2);
        cursor: pointer;
    }
    .spec {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 0px 15px black;
        background-color: var(--blue);
        transition: 0.3s ease;
        
        .t2-head2{ 
            color: white;
            font-size: 53px;
            font-family: Mundo-Reg;
        }
    }
    .spec:hover{
        background-color: var(--blue2);
        cursor: pointer;

    }
}
// video section for showing off video
.video {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1,auto); 
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    background-color: white;
    .video-title {
        color: var(--blue);
        font-size: 63px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Mundo-Reg;
        padding-bottom: 20px;
        
    }
    .mediaplayer {
        width: 825px;
        height: 400px;
        background-color: var(--blue);
        margin-top: -10%;
    }
} 

@media screen and (max-width: 1200px) {
    .tour1{
        height: 40vh;
        width: 100vw;
        
        .t1-header{
            color: var(--blue);
            font-size: 58px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 25px;
            font-family: Mundo-Reg;
            margin-top: -10px;
        }
        .t1-subhead{
            color: var(--blue);
            font-size: 33px;
            margin-top: -25px;
            
        }
        .t1-outp{
            color: var(--blue);
            font-size: 29px;
            margin-top: -30px;
            
        }
        .t1-inp{
            color: var(--blue);
            font-size: 29px;
            margin-top: -45px; 
            
        }
    }
      
  }
  @media screen and (max-width: 1000px){
    .tour1{
        height: 40vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1,auto);
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0px 0px 15px black; 
        .t1-header{
            color: var(--blue);
            font-size: 62px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 25px;
            font-family: Mundo-Reg;
            margin-top: -10px;
        }
        .t1-subhead{
            color: var(--blue);
            // font-size: 37px;
            margin-top: -25px;
            
        }
        .t1-outp{
            color: var(--blue);
            // font-size: 33px;
            margin-top: -30px;
            
        }
        .t1-inp{
            color: var(--blue);
            // font-size: 33px;
            // margin-top: -45px; 
            
        }
    }
    .tour2 {
        height: 55vh;
        width: 100vw;
        flex-direction: column;
        
        .nurse {
            width: 100%;
            height: 50%;
            
            // box-shadow: 0px 0px 15px black;
            
            .t2-head{
                color: white;
                font-size: 53px;
                font-family: Mundo-Reg;
            }
        } 
        .spec {
            width: 100%;
            height: 50%;
            
            
            .t2-head2{ 
                color: white;
                font-size: 53px;
                font-family: Mundo-Reg;
            }
        }
    }
    .video {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
.video-title{
   
    font-size: 55px; 
    // width: 425px;
    font-family: Mundo-Reg;
    text-align: center;
    padding-bottom: 45px;
    
}

.mediaplayer {
    width: 625px;
    height: 320px;
  
    
    

}
    }
   }
  
  @media screen and (max-width: 780px) {
    .tour1{
        // height: 36vh;
       
        .t1-header{
           
        }
        .t1-subhead{
            
            
        }
        .t1-outp{
           font-size: 30px;
            // margin-top: -35px;
            
        }
        .t1-inp{
            font-size: 30px;
            // margin-top: -55px; 
            
        }
    }
    .tour2 {
        height: 55vh;
        width: 100vw;
        flex-direction: column;
        
        .nurse {
            width: 100%;
            height: 50%;
            
            // box-shadow: 0px 0px 15px black;
            
            .t2-head{
                color: white;
                font-size: 49px;
                font-family: Mundo-Reg;
            }
        } 
        .spec {
            width: 100%;
            height: 50%;
            
            
            .t2-head2{ 
                color: white;
                font-size: 49px;
                font-family: Mundo-Reg;
            }
        }
    }
    .video {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
.video-title {
    
    font-size: 55px; 
    width: 425px;
    font-family: Mundo-Reg;
    text-align: center;
    padding-bottom: 45px;
    
}

.mediaplayer {
    width: 525px;
    height: 300px;  

}
    }
  }
  
  @media screen and (max-width: 450px) {
    .tour1{
        height: 37vh;
        
        .t1-header{
         
            font-size: 55px;
            
        }
        .t1-subhead{
           
            font-size: 30px;
            margin-top: -25px;
            
        }
        .t1-outp{
            color: var(--blue);
            font-size: 26px;
            margin-top: -30px;
            font-size: 24px;
            
        }
        .t1-inp{
            color: var(--blue);
            font-size: 26px;
            margin-top: -42px; 
            font-size: 24px;
            
        }
    }
    .tour2 {
        height: 55vh;
        width: 100vw;
        flex-direction: column;
        
        .nurse {
            width: 100%;
            height: 50%;
            
            // box-shadow: 0px 0px 15px black;
            
            .t2-head{
                color: white;
                font-size: 44px;
                font-family: Mundo-Reg;
                text-align: center;
            }
        } 
        .spec {
            width: 100%;
            height: 50%;
            
            
            .t2-head2{ 
                color: white;
                font-size: 44px;
                font-family: Mundo-Reg;
                text-align: center;
            }
        }
    }
    .video {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
.video-title {
    
    font-size: 40px;
    width: 325px;
    font-family: Mundo-Reg;
    text-align: center;
    padding-bottom: 5px;
    
}

.mediaplayer{
    width: 325px;
    height: 200px;
   
    
    

}
    }
  } 


