// tour section that shows the hours
.tour1{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    
    .left-t-1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        .side-title {
            font-family: Mundo-reg;
            font-size: 50px;
            color: var(--blue);
            width: 350px;
            height: 60px;
        }
        .info-boxes {
            display: flex;
            flex-direction: column;
            align-items: start; 
            justify-content: space-evenly;
            width: 350px;
            height: 120px;

            .info-title {
                font-size: 28px;
                font-family: Mundo-reg;
                color: var(--blue);
                width: 300px;
                height: 30px;
                padding-bottom: 45px;
                font-weight: bold;
            }
            .hrs-txt {
                font-size: 24px;
                font-family: Mundo-reg;
                color: var(--blue);
                width: 300px;
                height: 30px;
                font-weight: 300;
            }
            .who-txt {
                font-size: 22px;
                font-family: Mundo-reg;
                color: var(--blue);
                width: 375px;
                height: 30px; 
            }
            .extra-txt {
                width: 415px;
                font-size: 20px;
                font-family: Mundo-reg;
                color: var(--blue);
                font-style: italic;
            }
        }
    }
    .right-t-1 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .pict {
            width: 450px;
            height: 230px;
            background-color: var(--blue);
        }
        .contact-nurse {
            width: 450px;
            height: 140px;
            background-color: var(--blue);
        }
    }
}
// tour section for contacting people
.tour2 { 
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    background-color: var(--blue);

    .left-t-2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        .side-title {
            font-family: Mundo-reg;
            font-size: 50px;
            color: var(--white);
            width: 350px;
            height: 60px;
        }
        .info-boxes {
            display: flex;
            flex-direction: column;
            align-items: start; 
            justify-content: space-evenly;
            width: 350px;
            height: 120px;

            .info-title {
                font-size: 28px;
                font-family: Mundo-reg;
                color: var(--white);
                width: 300px;
                height: 30px;
                padding-bottom: 45px;
                font-weight: bold;
            }
            .hrs-txt {
                font-size: 24px;
                font-family: Mundo-reg;
                color: var(--white);
                width: 300px;
                height: 30px;
                font-weight: 300;
            }
            .who-txt {
                font-size: 22px;
                font-family: Mundo-reg;
                color: var(--white);
                width: 375px;
                height: 30px; 
            }
            .extra-txt {
                width: 415px;
                font-size: 20px;
                font-family: Mundo-reg;
                color: var(--white);
                font-style: italic;
            }
        }
    }
    .right-t-2 {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .pict {
            width: 450px;
            height: 230px;
            background-color: var(--white);
        }
        
    }
}
// video section for showing off video
.video {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1,auto); 
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    background-color: white;
    .video-title {
        color: var(--blue);
        font-size: 63px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Mundo-Reg;
        padding-bottom: 20px;
        
    }
    .mediaplayer {
        width: 825px;
        height: 400px;
        background-color: var(--blue);
        margin-top: -10%;
    }
} 

@media screen and (max-width: 1200px) {
    
      
  }
  @media screen and (max-width: 1000px){
    .tour1{
        height: 80vh;
        width: 100vw;
        display: flex;
        
        
        .left-t-1 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            .side-title {
                font-family: Mundo-reg;
                font-size: 50px;
                color: var(--blue);
                width: 300px;
                height: 60px;
            }
            .info-boxes {
                display: flex;
                flex-direction: column;
                align-items: start; 
                justify-content: space-evenly;
                width: 300px;
                height: 120px;
    
                .info-title {
                    font-size: 28px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 250px;
                    height: 30px;
                    padding-bottom: 45px;
                    font-weight: bold;
                }
                .hrs-txt {
                    font-size: 24px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 250px;
                    height: 30px;
                    font-weight: 300;
                }
                .who-txt {
                    font-size: 22px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 325px;
                    height: 30px; 
                }
                .extra-txt {
                    width: 365px;
                    font-size: 20px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    font-style: italic;
                }
            }
        }
        .right-t-1 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
            .pict {
                width: 375px;
                height: 230px;
                background-color: var(--blue);
            }
            .contact-nurse {
                width: 375px;
                height: 140px;
                background-color: var(--blue);
            }
        }
    }
    .tour2 { 
        height: 70vh;
        width: 100vw;
        display: flex;
        
    
        .left-t-2 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            .side-title {
                font-family: Mundo-reg;
                font-size: 50px;
                color: var(--white);
                width: 300px;
                height: 60px;
            }
            .info-boxes {
                display: flex;
                flex-direction: column;
                align-items: start; 
                justify-content: space-evenly;
                width: 300px;
                height: 120px;
    
                .info-title {
                    font-size: 28px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 250px;
                    height: 30px;
                    padding-bottom: 45px;
                    font-weight: bold;
                }
                .hrs-txt {
                    font-size: 24px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 250px;
                    height: 30px;
                    font-weight: 300;
                }
                .who-txt {
                    font-size: 22px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 325px;
                    height: 30px; 
                }
                .extra-txt {
                    width: 365px;
                    font-size: 20px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    font-style: italic;
                }
            }
        }
        .right-t-2 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
            .pict {
                width: 375px;
                height: 230px;
                background-color: var(--white);
            }
            
        }
    }
    .video {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
.video-title{
   
    font-size: 55px; 
    // width: 425px;
    font-family: Mundo-Reg;
    text-align: center;
    padding-bottom: 45px;
    
}

.mediaplayer {
    width: 625px;
    height: 320px;
  
    
    

}
    }
   }
  
  @media screen and (max-width: 780px) {
    .tour1{
        height: 80vh;
        width: 100vw;
        display: flex;
        
        
        .left-t-1 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            .side-title {
                font-family: Mundo-reg;
                font-size: 47px;
                color: var(--blue);
                width: 250px;
                height: 60px;
            }
            .info-boxes {
                display: flex;
                flex-direction: column;
                align-items: start; 
                justify-content: space-evenly;
                width: 250px;
                height: 120px;
    
                .info-title {
                    font-size: 25px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 200px;
                    height: 30px;
                    padding-bottom: 45px;
                    font-weight: bold;
                }
                .hrs-txt {
                    font-size: 21px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 200px;
                    height: 30px;
                    font-weight: 300;
                }
                .who-txt {
                    font-size: 19px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 275px;
                    height: 30px; 
                }
                .extra-txt {
                    width: 315px;
                    font-size: 17px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    font-style: italic;
                }
            }
        }
        .right-t-1 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
            .pict {
                width: 325px;
                height: 230px;
                background-color: var(--blue);
            }
            .contact-nurse {
                width: 325px; 
                height: 140px;
                background-color: var(--blue);
            }
        }
    }
    .tour2 { 
        height: 70vh;
        width: 100vw;
        display: flex;
        
    
        .left-t-2 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            .side-title {
                font-family: Mundo-reg;
                font-size: 47px;
                color: var(--white);
                width: 250px;
                height: 60px;
            }
            .info-boxes {
                display: flex;
                flex-direction: column;
                align-items: start; 
                justify-content: space-evenly;
                width: 250px;
                height: 120px;
    
                .info-title {
                    font-size: 25px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 200px;
                    height: 30px;
                    padding-bottom: 45px;
                    font-weight: bold;
                }
                .hrs-txt {
                    font-size: 21px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 200px;
                    height: 30px;
                    font-weight: 300;
                }
                .who-txt {
                    font-size: 19px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 275px;
                    height: 30px; 
                }
                
            }
        }
        .right-t-2 {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
            .pict {
                width: 325px;
                height: 230px;
                background-color: var(--white);
            }
            
        }
    }
    .video {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
.video-title {
    
    font-size: 55px; 
    width: 425px;
    font-family: Mundo-Reg;
    text-align: center;
    padding-bottom: 45px;
    
}

.mediaplayer {
    width: 525px;
    height: 300px;  

}
    }
  }
  
  @media screen and (max-width: 450px) {
    .tour1{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        
        
        .left-t-1 {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            .side-title {
                font-family: Mundo-reg;
                font-size: 47px;
                color: var(--blue);
                width: 250px;
                height: 60px;
            }
            .info-boxes {
                display: flex;
                flex-direction: column;
                align-items: start; 
                justify-content: space-evenly;
                width: 250px;
                height: 120px;
    
                .info-title {
                    font-size: 25px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 200px;
                    height: 30px;
                    // padding-bottom: 45px;
                    
                    font-weight: bold;
                }
                .hrs-txt {
                    font-size: 21px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 200px;
                    height: 30px;
                    font-weight: 300;
                }
                .who-txt {
                    font-size: 19px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    width: 275px;
                    height: 30px; 
                    padding-bottom: 60px;
                }
                .extra-txt {
                    width: 315px;
                    font-size: 17px;
                    font-family: Mundo-reg;
                    color: var(--blue);
                    font-style: italic;
                }
            }
        }
        .right-t-1 {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
            .pict {
                width: 325px;
                height: 180px;
                background-color: var(--blue);
            }
            .contact-nurse {
                width: 325px; 
                height: 90px;
                background-color: var(--blue);
            }
        }
    }
    .tour2 { 
        height: 85vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        
    
        .left-t-2 {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            
            .side-title {
                font-family: Mundo-reg;
                font-size: 47px;
                color: var(--white);
                width: 250px;
                height: 60px;
            }
            .info-boxes {
                display: flex;
                flex-direction: column;
                align-items: start; 
                justify-content: space-evenly;
                width: 250px;
                height: 120px;
    
                .info-title {
                    font-size: 25px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 200px;
                    height: 30px;
                    // padding-bottom: 45px;
                    
                    font-weight: bold;
                }
                .hrs-txt {
                    font-size: 21px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 200px;
                    height: 30px;
                    font-weight: 300;
                }
                .who-txt {
                    font-size: 19px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    width: 275px;
                    height: 30px; 
                    padding-bottom: 60px;
                }
                .extra-txt {
                    width: 315px;
                    font-size: 17px;
                    font-family: Mundo-reg;
                    color: var(--white);
                    font-style: italic;
                }
            }
        }
        .right-t-2 {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
    
            .pict {
                width: 325px;
                height: 180px;
                background-color: var(--white);
            }
        
        }
    }
    .video {
        display: flex;
        flex-direction: column;
        height: 75vh;
   
.video-title {
    
    font-size: 40px;
    width: 325px;
    font-family: Mundo-Reg;
    text-align: center;
    padding-bottom: 5px;
    
}

.mediaplayer{
    width: 325px;
    height: 200px;
   
    
    

}
    }
  } 


