.upperbox{
    background-image: linear-gradient(to right,rgba(31, 2, 117, 0.9),rgba(195, 0, 255, 0.7)), url(../css/img/bingo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
 
    .infoholder{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .tv5logo{
            background-image: url(../css/img/tv5-logo.png);
            width: 200px;
            height: 275px;
            background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        .wordcontent{
            height: 300px;
            max-width: 800px;
            // background-color: red;
            text-align: right;
            h6{
                color: white;
                font-size: 20px;
                font-family: Mundo-Reg;
                padding: 0;
                margin-bottom: -20px;
            }
            h1{
                font-size: 90px;
                font-family: Mundo-Reg;
                color: white;
            }
            h2{
                font-size: 70px;
                font-family: Mundo-Reg;
                color: white;
            }
            p{
                font-size: 24px;
                font-family: Mundo-Reg;
                color: white;
            }
        }
    }
}

.dayinformationpurple{
    width: 100%;
    min-height: 420px;
    padding: 5px;
    background-color: var(--purple2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .infoholder{
        width: 80%;
        h1{
            font-size: 70px;
            font-family: Mundo-Reg;
            color: white;
        }
        p{
            font-size: 35px;
            font-family: Mundo-Reg;
            color: white;
        }
    }
}

.dayinformationwhite{
    width: 100%;
    min-height: 420px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .infoholder{
        width: 80%;
        text-align: right;
        h1{
            font-size: 70px;
            font-family: Mundo-Reg;
            color: var(--purple2);
        }
        p{
            font-size: 35px;
            font-family: Mundo-Reg;
            color: var(--purple2);
        }
    }
}
@media screen and (max-width: 1200px) {
    .upperbox{
    
        .infoholder{
            .wordcontent{
                height: 420px;
                max-width: 450px;
                // background-color: red;
            }
        }
    }
    
      
  } 


  @media screen and (max-width: 1000px){
    .upperbox{
        width: 100%;
        height: 800px;
    
        .infoholder{
            width: 700px;
            // background-color: red;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .tv5logo{
                width: 220px;
                height: 300px;
            }
            .wordcontent{
                height: 500px;
                width: 400px;
                text-align: right;
                // background-color: blue;
            }
        }
    }
   }
  
  @media screen and (max-width: 780px) {
    .upperbox{    
        .infoholder{
            flex-direction: column;
            // background-color: red;
            height: 600px;
            width: 90%;
            
            .tv5logo{
                width: 100px;
                height: 140px;
                margin-bottom: 20px;
            }
            .wordcontent{
                height: 450px;
                min-width: 100%;
                // background-color: blue;
                text-align: center;
                h6{
                    margin-bottom: 0;
                }
            }
        }
    }
    .dayinformationpurple{
        width: 100%;
        min-height: 320px;
        
        .infoholder{
            width: 90%;
            h1{
                font-size: 50px;
            }
            p{
                font-size: 24px;
            }
        }
    }
    
    .dayinformationwhite{
        width: 100%;
        min-height: 320px;
        
        .infoholder{
            width: 90%;
            text-align: right;
            h1{
                font-size: 50px;
            }
            p{
                font-size: 24px;
            }
        }
    }

  }
  
  @media screen and (max-width: 500px) {
    .upperbox{ 
        height: 600px;   
        .infoholder{
            flex-direction: column;
            // background-color: red;
            height: 500px;
            width: 90%;
            
            .tv5logo{
                width: 100px;
                height: 140px;
                margin-bottom: 20px;
            }
            .wordcontent{
                height: 350px;
                width: 350px;
                // background-color: blue;
                text-align: center;
                h6{
                    color: white;
                    font-size: 14px;
                    font-family: Mundo-Reg;
                    padding: 0;
                }
                h1{
                    font-size: 70px;
                    font-family: Mundo-Reg;
                    color: white;
                }
                h2{
                    font-size: 50px;
                    font-family: Mundo-Reg;
                    color: white;
                }
                p{
                    font-size: 18px;
                    font-family: Mundo-Reg;
                    color: white;
                }
            }
        }
    }

    .dayinformationpurple{
        width: 100%;
        min-height: 250px;
        
        .infoholder{
            width: 90%;
            // background-color: red;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    
    .dayinformationwhite{
        width: 100%;
        min-height: 250px;
        
        .infoholder{
            width: 90%;
            text-align: right;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 18px;
            }
        }
    }
  }
